body {	
	background: #f6f4ef;
	font-family: Calibre,sans-serif;
	box-sizing: border-box;
	padding-top: 55px;
}

h1, .search-form {
	color: #21409a;
}

a {
	text-decoration: none;	
}

.hidden {
	display: none;
}

.search-modal {
	position: fixed;
	top: 40px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}

.top-nav-bar {
	background-color: #333;
	height: 40px;
	position: fixed;
	top: 0;
	padding: 2px 8px 2px 8px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 1em;
	display: flex;
}

.opensearch {
	font-size: 20px;
	color: #ddd;
	background-color: #333;
	border: 0;
	margin-left: auto;
	margin-right: 10px;
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
  	-webkit-transform:rotate(90deg); /* Safari and Chrome */
  	-o-transform:rotate(90deg); /* Opera */
}

.brand {
	font-family: 'Raleway', sans-serif;	
	display: inline-block;
	margin-right: 10px;
	margin-top: 9px;
	font-size: 1.2em;
}

.brand-first, .brand-last {
	color: #eee;;
}

.brand-mid {
	color: #FF7350;
}

/*splash styling*/
.splash-content .splash-banner {
	text-align: center;
	margin-bottom: 35px;	
}

.subtitle, .instructions {
	color: #555;
}

.splash-content, main {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.splash-content .maintitle {
	margin-top: 5%;
	margin-bottom: 30px;	
	font-size: 3em;	
	font-family: 'Raleway', sans-serif;	
}

.splash-content .brand-first {
	color: #21409a;
}

.splash-content .brand-mid {
	color: #FF7350;
}

.splash-content .brand-last {
	color: #333;
}

.splash-content .primary-search {
	margin-right: 8px;
	margin-left: 8px;
	position: relative;
}

.splash-content .type-selector {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.splash-content #search-type {
	padding-right: 5px;
	text-align: center;
	background-color: #7b87ad;
	border: 0;
	color: #333;
}

.splash-content .primary-search form {
	font-size: 1.25em;
	line-height: 2em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.splash-content .primary-search select, .splash-content .primary-search input {
	height: 45px;
	font-size: 1em;	
	
}

.splash-content .primary-search button {
	background-color: #21409a;
	color: #eee;
	height: 40px;
	width: 90px;
	font-size: 1.2em;
	border: 0;
	border-radius: 3px;	
}

@media screen and (min-width: 400px) {
	.splash-content .primary-search button {
		position: absolute;
		right: 6%;
		top: 4px;
		margin-left: 0;
		margin-right: 0;
	}
}

.splash-content .search-query {	
	padding-left: 35px;
	width: 90%;	
	margin-bottom: 20px;
	color: #21409a;
	border: 0;	
	border-top: 1px solid #21409a;
	border-bottom: 1px solid #21409a;
	background-color: #f6f4ef;
}

.splash-content .label-wrapper {
	width: 100%;
	max-width: 750px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.splash-content .primary-search-field {
	width: 100%;
}

.splash-content .primary-search-field label {	
	position: absolute;
	z-index: 1;
	left: 3%;
	top: 4px;
	color: #21409a;
}

.splash-content .instructions {
	border: 2px solid #21409a;
	border-radius: 4px;
	padding: 20px 8px;
	line-height: 1.2em;	
	text-align: center;
}

.splash-content .instructions ul {
	list-style: disc;	
	text-align: left;
	margin-left: 10%;
	margin-top: 10px;
}
/* end splash styling */

.affil-R {
	color: red;
}

.affil-D {
	color: blue;
}

.affil-I {
	color: green;
}

.results-bill-tile {
	margin: 10px;	
}

.results-bill-tile h4 {
	font-size: 1.25em;
}