body {	
	background: #f6f4ef;
	font-family: Calibre,sans-serif;
	box-sizing: border-box;
	padding-top: 55px;
	line-height: 1.4em;
}

.splash-content .primary-search input, .splash-content .primary-search {
	background-color: #f6f4ef;
}


h1, .search-form {
	color: #21409a;
}

a {
	text-decoration: none;	
}

strong {
	font-weight: bold;
}

.hidden {
	display: none;
}

.top-nav-bar {
	background-color: #333;
	height: 40px;
	position: fixed;
	top: 0;
	padding: 2px 8px 2px 8px;
	width: 100%;	
	margin-bottom: 20px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.top-nav-bar-inner {
	display: flex;
	width: 100%;
	max-width: 1000px;
	align-items: center;
}

.opensearch {
	font-size: 20px;
	color: #ddd;
	background: transparent;
	border: 0;
	margin-left: auto;
	margin-right: 10px;
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
  	-webkit-transform:rotate(90deg); /* Safari and Chrome */
  	-o-transform:rotate(90deg); /* Opera */
}

.brand {
	font-family: 'Raleway', sans-serif;	
	display: inline-block;
	margin-right: 10px;	
	font-size: 1.2em;
}

.brand-first, .brand-last {
	color: #eee;;
}

.brand-mid {
	color: #FF7350;
}

.affil-R {
	color: red;
}

.affil-R::before {
	content: ;
}

.affil-D {
	color: blue;
}

.affil-I {
	color: green;
}

.results {
	display: flex;
	flex-wrap: wrap;
}

.results a {
	color: #21409a;
}

.results a:hover {
	color: #FF7350;
}

.searching, .results-count {
	width: 100%;
	margin-left: 10px;
	margin-bottom: 20px;
}

.back-to-results {
	height: 20px;
	width: 140px;	
	font-size: 18px;
	padding: 15px 5px;	
	text-align: center;
	margin-bottom: 10px;
	position: sticky;
	top: 45px;
	border: 1px solid #999;
	border-radius: 4px;
	background-color: #333;
}

.back-to-results:hover {
	background-color: #666;		
}

.back-to-results-link {
	color: #eee;	
}

.detail-view {
	margin-left: 2%;
	margin-right: 2%;
	background-color: #eee;
	padding: 10px;
	border: 1px solid #999;	
}

/* search modal styling */
.search-modal {
	position: fixed;
	top: 44px;	
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;	
}

.search-modal .search {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;	
	font-size: 1.75em;
	text-align: center;	
}

.search-modal .search legend {
	color: #eee;
	margin-bottom: 20px;
	text-align: center;
}

.search-modal select {
	height: 40px;
	font-size: 30px;
	border: none;
	border-radius: 5px;
	text-align: center;
	width: 200px;
}

.search-modal .search-query {
	height: 40px;
	width: 90%;
	font-size: .7em;
	background: transparent;
	margin: 30px auto;
	border: none;
	border-bottom: 1px solid #eee;
	color: #eee;
	display: block;
}

.modal-button {
	background-color: #eee;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;	
}

.search-modal .submit-button {	
	background-color: #eee;
	color: #333;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	border: none;
	font-size: 18px;	
}

.search-modal .submit-button:hover {
	box-shadow: 0 5px 15px rgba(50,50,50,.4);
}

.button-wrapper {
	width:41px;
	margin: 0px 8px;
}
/* end search modal styling */

/*splash styling*/
.splash-content .splash-banner {
	text-align: center;
	margin-bottom: 35px;	
}

.subtitle, .instructions {
	color: #555;
}

.splash-content, main {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.splash-content .maintitle {
	margin-top: 5%;
	margin-bottom: 30px;	
	font-size: 3em;	
	font-family: 'Raleway', sans-serif;	
}

.splash-content .brand-first {
	color: #21409a;
}

.splash-content .brand-mid {
	color: #FF7350;
}

.splash-content .brand-last {
	color: #333;
}

.splash-content .primary-search {
	margin-right: 8px;
	margin-left: 8px;
	position: relative;	
}

.splash-content .type-selector {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.splash-content .select {
	background: url('../img/select_dropdown.png') no-repeat 96%;
	width: 127px;
	overflow: hidden;	
	height: 34px;	
	position: relative;
	right: 0px;
	top: 6px;
	border-radius: 5px;
	border: 1px solid #21409a;
	margin-right: auto;
	margin-left: auto;
}

.splash-content #search-type {
	width: 180px;
	padding-right: 30px;
	padding-left: 10px;		
	background: transparent;	
	color: #21409a;
	font-size: 1em;
	height: 32px;	
	border: none;
}

#search-type option {
	padding-bottom: 10px;
}

.splash-content .primary-search form {
	font-size: 1.25em;
	line-height: 2em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.splash-content .primary-search input {
	height: 45px;
	font-size: 1em;
	border-radius: 0;	
	-webkit-appearance: none;
	
}

.splash-content .primary-search button {
	background-color: #21409a;
	color: #eee;
	height: 40px;
	width: 90px;
	font-size: 1.2em;
	border: 0;
	border-radius: 3px;
	-webkit-appearance: none;
}

@media screen and (min-width: 400px) {
	.splash-content .primary-search button {
		position: absolute;
		right: 5%;
		top: 4px;
		margin-left: 0;
		margin-right: 0;
	}
}

.splash-content .search-query {	
	padding-left: 35px;
	width: 90%;	
	margin-bottom: 20px;
	color: #21409a;
	border: 0;	
	border-top: 1px solid #21409a;
	border-bottom: 1px solid #21409a;	
}

.splash-content .label-wrapper {
	width: 100%;
	max-width: 750px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.splash-content .primary-search-field {
	width: 100%;
}

.splash-content .primary-search-field label {	
	position: absolute;
	z-index: 1;
	left: 3%;
	top: 4px;
	color: #21409a;
}

.splash-content .instructions {
	border: 2px solid #21409a;
	border-radius: 4px;
	padding: 20px 8px;
	line-height: 1.2em;	
	text-align: center;	
}

.splash-content .instructions ul {
	list-style: disc;	
	text-align: left;
	margin-left: 10%;
	margin-top: 10px;
}
/* end splash styling */

/* bill results styling */
.results-bill-tile {
	margin: 10px;
	width: 100%;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 15px 8px;
	background-color: #eee;
}

.results-bill-tile h4 {
	font-size: 1.25em;
	margin-bottom: 8px;
}
/* end bill results styling*/

/* bill details styling*/
.bill-title {
	font-size: 22px;	
	border-top: 1px solid #999;
	margin-bottom: 15px;
	padding-top: 15px;
}

.date {
	color: #777;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}

.major-action, .bill-number {
	width: 75%;
	margin-bottom: 15px;
	order: -1;
}

.major-action p:nth-of-type(1) {
	font-weight: bold;
}

.major-action p:nth-of-type(2) {
	padding-left: 30px;	
}

.sponsor-tile {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	width: 100%;
}

@media screen and (min-width: 640px) {
	.sponsor-tile img {	
		width: 150px;	
	}

	.sponsor-image-tile {
		margin-left: auto;
		order: 1;
	}
}


.sponsor-tile h2, .sponsor-tile h2 + p, .bill-summary h2 {
	font-size: 18px;
	margin: 10px 10px 10px 0px;
}

.rep-request {
	color: #21409a;
}

.rep-request:hover {
	color: #FF7350;
}

.sponsor-image-tile {	
	order: 1;
}

.bill-summary {
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

.topmatter {
	margin-bottom: 15px;
}

.charts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.charts-support-oppose, .charts-sector-breakdown, .charts-support-sector-breakdown, .charts-oppose-sector-breakdown {
	padding: 10px;
	width: 100%;
}

.charts h2 {
	width: 100%;
}

.charts-sector-breakdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (min-width: 640px) {
	.charts-support-sector-breakdown, .charts-oppose-sector-breakdown {
		width: 60%;
	}
}

@media screen and (min-width: 640px) {
	.charts-sector-breakdown {
		flex-wrap: nowrap;
	}

	.charts-support-oppose {
		width: 80%;
	}
}
/* end bill details styling*/

/* legislator results styling */
.results-legislator-tile {
	margin: 10px;
	width: 100%;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 15px 8px;
	background-color: #eee;
}

@media screen and (min-width: 750px) {
	.results-legislator-tile {
		width: 45%;		
	}
}

.results .legislator-header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px
}

.results .legislator-name {
	width: 100%;
	order: -1;
	font-size: 18px;
	margin-bottom: 10px;
}

.results .legislator-image {
	width: 25%;
	max-width: 100px;
	margin-right: 5px;
}

.results .legislator-contact-info {
	width: 70%;
}

.legislator-image img {
	width: 100%;
}

.results .sponsored-bills {
	border-top: 3px dotted #999;
	padding: 10px 5px 5px 5px;
}

.results .sponsored-bills h3 {
	font-weight: bold;
	margin-bottom: 5px;
}

.results .sponsored-bills li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #bbb;
	line-height: 1.5em;
}

.results .sponsored-bills .bill-request {
	font-weight: bold;
}
/* end legislator results styling */

/* legislator details stylnig */
.detail-view .legislator-header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}

.detail-view .legislator-name {
	order: -1;
	font-size: 22px;
	width: 100%;	
	margin-bottom: 10px;
	color: #21409a;	
}

.detail-view .legislator-name * {
	display: inline-block;
}

.detail-view .legislator-image {
	width: 33%;
	max-width: 225px;
	margin-right: 10px;
	margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
	.detail-view .legislator-image {
		width: 80%;
		max-width: 225px;
		margin-right: 10px;
	}

	.detail-view .topmatter {
		width: 100%;
	}
}

.detail-view .legislator-image img {
	width: 100%;
}

.legislator-tile .topmatter {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.detail-view .legislator-contact-info {
	margin-bottom: 15px;
	width: 100%;
}

.detail-view .show-recent-bills, .detail-view .get-recent-votes {
	color: #333;
	margin-bottom: 10px;
}

.detail-view .show-recent-bills:hover, .detail-view .get-recent-votes:hover {
	text-decoration: overline;
	text-decoration: underline;
}

.legislator-collapsables {
	width: 100%;
}

.detail-view .sponsored-bills {
	width: 100%;
	margin-bottom: 15px;
}

.detail-view .sponsored-bills h3 {
	font-size: large;
	margin-bottom: 10px;
}

.detail-view .sponsored-bills li {	
	margin-bottom: 10px;
	border-bottom: 2px dotted #ccc;
	padding-bottom: 8px;
}

.legislator-tile charts {
	margin-bottom: 15px;
}

.detail-view .sponsored-bills-list, .detail-view .vote-positions {	
	margin-top: 15px;
	padding-left: 18px;	
}

.fa-thumbs-up {
	color:  rgb(80, 168, 60);                            
}

.fa-thumbs-down {
	color: rgb(145, 35, 27);
}

.fa-meh-o {
	color: #ccc;
}

@media screen and (max-width: 640px) {
	.position-result, .position-vote-date {
		display: none;
	}
}

table {
	background-color: #eee;
}

thead {
	font-size: 18px;
	font-weight: bold;
}

th, td {
	padding: 5px;
}

tbody tr:nth-child(even) {
	background-color: #ddd;
}

tbody tr:nth-child(odd) {
	background-color: #bbb;
}

/* end legislator details styling */